body{
                margin:0px;
                background-image: url(images/b.jpg);
                
            }
            .main{
                
                
                
            }
            .mid{
                background-image: url(images/com.jpg);
                background-image: cover;
                width: 80%;
                height: 67%;
                background-color: lightsteelblue;
                
                margin: 4em auto 5em;
                margin-left: 10%;
                margin-right: 7%;
                
            }
            .left{
                width: 40%;
            }
            submit{
                align: center; 
            }
            h2{
                text-align: center;
                color: darkorange;
            }
            h1{
            text-align: center;
                margin-top: 40px;
                color: burlywood;
            }
            .submit{
                 background-color: dodgerblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.4;
  transition: 0.3s;
  border-radius:15px;
  
            }
#p1{
    font-size: 20;
    color: #fff8dc;
}
#p2{
    font-size: 20;
    color: #fff8db;
}
            .submit:hover {opacity: 1}
  